SRC/JerryPlat.API/bin
SRC/JerryPlat.API/File
SRC/JerryPlat.API/obj
SRC/JerryPlat.BLL/bin
SRC/JerryPlat.BLL/File
SRC/JerryPlat.BLL/obj
SRC/JerryPlat.DAL/bin
SRC/JerryPlat.DAL/File
SRC/JerryPlat.DAL/obj
SRC/JerryPlat.Models/bin
SRC/JerryPlat.Models/File
SRC/JerryPlat.Models/obj
SRC/JerryPlat.Office/bin
SRC/JerryPlat.Office/File
SRC/JerryPlat.Office/obj
SRC/JerryPlat.Owin/bin
SRC/JerryPlat.Owin/File
SRC/JerryPlat.Owin/obj
SRC/JerryPlat.Pay/bin
SRC/JerryPlat.Pay/File
SRC/JerryPlat.Pay/obj
SRC/JerryPlat.Utils/bin
SRC/JerryPlat.Utils/File
SRC/JerryPlat.Utils/obj
SRC/JerryPlat.Web/bin
SRC/JerryPlat.Web/File
SRC/JerryPlat.Web/obj
SRC/packages/